---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Alder">
    <!-- Hero section for responsive design -->
    <div class="relative w-full h-full">
        <!-- Background Image -->
        <img class="w-full h-screen object-cover" src="/forsidebillede.webp" alt="Hero background" />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-neutral-950 bg-opacity-35 backdrop-blur-sm z-[20]"></div>

        <!-- Indhold-->
        <section class="absolute inset-0 z-[30] flex items-center justify-center">
            <section class="lg:pt-desktop-top pt-mobil-top lg:pb-desktop-bottom pb-mobil-bottom">
                <section class="grid lg:grid-cols-12 gap-4">
                    <section class="bg-neutral-900 col-span-8 lg:col-start-3">
                        <section class="p-8 lg:pb-desktop-bottom lg:pt-desktop-top pb-mobil-bottom pt-mobil-top lg:px-20">
                            <div class="grid place-items-center">
                                <h1 class="lg:text-h3-desktop text-h3-mobile font-display font-bold pb-10">Vend tilbage når du er 18 år</h1>
                                <h1 class="lg:text-h4-desktop text-h4-mobile font-display font-bold">Klikkede du forkert?</h1>
                            </div>
                            <div class="flex justify-center gap-gap pt-5">
                                <a href="/alder">
                                    <Button variant="secondary" size="small">Gå tilbage</Button>
                                </a>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </div>
</MainLayout>
