---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Abonnementer">
    <section class="max-w-7xl mx-auto md:p-0 p-8">
        <section class="md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
            <section class="grid md:grid-cols-12 gap-4">
                <section class="bg-neutral-900 col-span-8 md:col-start-3">
                    <section class="grid grid-cols-6">
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                    </section>
                    <section class="md:p-12 p-8">
                        <!------------------------------ Kunde og leverings oplysninger ------------------------------>
                        <section class="flex">
                            <a class="pr-5" href="/formular_mitid"><img src="/tilbage.svg" alt="Tilbageknap" /></a>
                            <div>
                                <h1 class="md:text-h2-desktop text-h2-mobile font-display font-regular pb-10">Kunde og leverings oplysninger</h1>
                            </div>
                        </section>
                        <section class="md:pb-desktop-bottom pb-mobil-bottom">
                            <section class="bg-neutral-50">
                                <!------ Sektion 1 ------>
                                <section class="p-8">
                                    <p class="text-neutral-950">Forventet levering d. 15/1 2025</p>
                                    <p class="text-neutral-950">Leveres til pakkeboks (Gratis)</p>
                                </section>
                                <section class="flex justify-center">
                                    <hr class="border-t-2 border-red-800 w-[80%]" />
                                </section>
                                <!------ Sektion 2 ------>
                                <section class="p-8 grid md:grid-cols-2">
                                    <div>
                                        <p class="text-neutral-950 font-bold">Leveringsadresse</p>
                                        <p class="text-neutral-950">Fulde navn</p>
                                        <p class="text-neutral-950">Guldbergsgade 29N</p>
                                        <p class="text-neutral-950">2200 København</p>
                                        <p class="text-neutral-950">kea@kea.dk</p>
                                    </div>
                                    <div class="md:place-items-end">
                                        <p class="text-red-700 font-bold">Rediger</p>
                                    </div>
                                </section>
                                <section class="flex justify-center">
                                    <hr class="border-t-2 border-red-800 w-[80%]" />
                                </section>
                                <!------ Sektion 3 ------>
                                <section class="p-8 grid md:grid-cols-2">
                                    <div>
                                        <p class="text-neutral-950 font-bold">Faktueringsadresse</p>
                                        <p class="text-neutral-950">Fulde navn</p>
                                        <p class="text-neutral-950">Guldbergsgade 29N</p>
                                        <p class="text-neutral-950">2200 København</p>
                                        <p class="text-neutral-950">kea@kea.dk</p>
                                    </div>
                                    <div class="md:place-items-end">
                                        <p class="text-red-700 font-bold">Rediger</p>
                                    </div>
                                </section>
                            </section>
                        </section>

                        <!------------------------------ Betaling ------------------------------>
                        <h1 class="md:text-h2-desktop text-h2-mobile font-display font-regular pb-10">Betaling</h1>

                        <section class="bg-neutral-50">
                            <!------ Sektion 1 ------>
                            <section class="border-red-800 border-2 p-8 grid grid-cols-6 gap-gap">
                                <div class="col-span-1 col-start-1 content-center pr-5">
                                    <div class="flex items-center">
                                        <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-5 h-5 bg-neutral-200 focus:ring-red-800 focus:ring-2 border-none" />
                                    </div>
                                </div>
                                <div class="col-span-3 col-start-2 content-center">
                                    <p class="text-neutral-950 font-bold">VISA-dankort, VISA, MasterCard, Eurocard</p>
                                    <p class="text-neutral-950">Kortgebyr: gratis</p>
                                </div>
                                <div class="content-center md:col-span-1 col-span-3 md:col-start-5 col-start-2 pt-5">
                                    <img class="" src="/postnord.svg" alt="postnord logo" />
                                </div>
                            </section>
                            <section class="flex justify-center">
                                <hr class="border-t-2 border-red-800 w-[80%]" />
                            </section>

                            <!------ Sektion 2 ------>
                            <section class="p-8 grid grid-cols-6 gap-gap">
                                <div class="col-span-1 col-start-1 content-center pr-5">
                                    <div class="flex items-center mb-4">
                                        <input id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                                        <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
                                    </div>
                                </div>
                                <div class="col-span-3 col-start-2 content-center">
                                    <p class="text-neutral-950 font-bold">MobilePay</p>
                                    <p class="text-neutral-950">Kræver MobilePay app</p>
                                </div>
                                <div class="col-span-2">
                                    <div class="grid grid-cols-3 gap-2 pt-5">
                                        <div class="content-center">
                                            <img class="" src="/dk.webp" alt="dk" />
                                        </div>
                                        <div class="content-center">
                                            <img class="" src="/visa.webp" alt="visa" />
                                        </div>
                                        <div class="content-center">
                                            <img class="" src="/mastercard.webp" alt="mastercard" />
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="flex justify-center">
                                <hr class="border-t-2 border-red-800 w-[80%]" />
                            </section>
                        </section>
                        <div class="flex justify-center pt-10">
                            <a href="/formular_tak">
                                <Button variant="primary" size="small">Betal</Button>
                            </a>
                        </div>
                    </section>
                </section>
            </section>
            <section class="pt-10 flex justify-center">
                <hr class="border-t-2 border-red-800 w-28" />
            </section>
        </section>
    </section>
</MainLayout>
