---

---

<!-- Footer til mobil format -->
<footer class="max-w-7xl mx-auto md:p-0 p-8">
  <div>
    <img src="" alt="">
  </div>

  <div>
    <p>Edith rodesvej 67</p>
  </div>

  <div>
    <p>CVR: 23452454</p>
  </div>

  <div>
    <p>email@business.dk</p>
  </div>

  <div>
    <p>Tlf: 46 75 21 34</p>
  </div>

  <div>
    <h2>Handel og politik</h2>
  </div>

  <div>
    <p>Handel- og persondata</p>
  </div>

  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>

  <div>
    <h2>Nyhedsbrev</h2>
  </div>

  <div>
    <p>Tilmeld dig på vores nyhedsbrev og få 10% rabat</p>
  </div>

  <div>
    <h4>Email</h4>
  </div>

  <div>
    <input type="email">
    <a href="#">Send</a>
  </div>

  <div>
    <p>© Vinens Essens 2024</p>
  </div>

  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>

</footer>


